/* TOGGLE FIELD */
.toggle-container {
	position: relative;
	top: 4px;
	display: flex;
	align-items: flex-end;
	label {
		cursor: pointer;
	}
	&.switch {
		top: -2px;
		left: -10px;
		.toggle-group.column .toggle-item:not(:first-child) {
			margin-top: -8px;
		}
	}
}
.toggle-group {
	>div {
		display: flex;
		align-items: center;
	}
	&.inline > div:not(:last-child) {
		margin-right: 7px;
	}
}