#popper > div {
	z-index: 1400;
}

/* SELECT FIELD */
.select {
	.input-container {
		position: relative;
		input {
			padding-right: 30px;
		}
		>div, input {
			cursor: inherit;
		}
	}
	.select-icon {
		top: 2px;
		right: 0;
		color: rgba(0, 0, 0, 0.54);
		position: absolute;
		pointer-events: none;
	}
	&.select-plain {
		cursor: pointer;
		.input-container {
			background: rgba(0, 0, 0, 0.05);
			padding: 4px 10px;
		}
	}
}
.select-multi {
	.chips {
		display: flex;
		flex-wrap: wrap;
		margin-top: 5px;
		overflow: hidden;
		max-height: 100px;
		overflow-y: auto;
	}
}
.select-items-container {
	overflow-y: auto;
	overflow-x: hidden;
}
.select-items-content {
	max-height: 300px;
	min-width: 40px;
	>div {
		position: relative;
		padding: 8px 0;
	}
}
.select-items {
	li {
		padding: 3px 5px;
		min-height: 0;
		white-space: normal;
		line-height: 0;
		>div {
			>span {
				line-height: 1.1em;
				font-size: 0.8em;
			}
		}
	}
	&.multiple {
		.checkbox {
			display: block;
			padding: 0;
			margin-right: 5px;
		}
		li {
			align-items: stretch;
			>div {
				display: flex;
				align-items: center;
			}
		}
	}
}