@import "./variables.less";

body {
	overflow: hidden;
	position: relative;
	font: 14px sans-serif;
	.highlight {
		color: white;
		padding: 2px 8px;
		border-radius: 5px;
		white-space: nowrap;
	}
	.panel {
		background-color: #EEF2F4;
		.panel-icon {
			margin-right: 10px;
			color: @primary;
		}
	}
}
ol, ul {
	list-style: none;
}
a {
	color: #2067b0;
	text-decoration: none;
	cursor: pointer;
	&:hover {
		text-decoration: underline;
		color: #2067b0;
	}
}
img {height: auto;}
.logo {width: 100px;}
.app {
	.button-icon {
		display: flex;
		align-items: center;
	}

	main {
		padding: 25px;
		section {
			width: 100%;
			margin-top: 40px;
			>h2 {
				margin-bottom: 15px;
			}
		}
	}
}
.app-header {
	.app-contacts {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;
		a:hover {
			text-decoration: none;
		}
		ul {
			display: flex;
			li {
				&:not(:last-child) {
					margin-right: 15px;
				}
				.contact-item {
					align-items: center;
					padding: 0;
				}
			}
		}
	}
}
.menu {
	padding: 0 40px 0 0!important;
	i {
		margin-right: 10px;
	}
	.menu-item-text {
		margin-top: 2px;
	}
	&.menu-horizontal {
		display: flex;
		li {
			border-bottom: 2px solid transparent;
			&.active {
				border-color: white;
			}
			div {
				span {color: white;}
			}
		}
	}
}
.app-bar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	i {
		color: white;
	}
}
.app-name {
	display: flex;
	justify-content: space-between;
	align-items: center;
	> *:not(:first-child) {
		margin-left: 20px;
	}
}
.app-message-container {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	.app-message {
		display: inline-flex;
		align-items: center;
		padding: 6px 14px 6px 11px;
		border-radius: 3px;
		border: 1px solid;

		i {margin-right: 5px; color: white;}
		&.info {
			background: #12b1e31c;
			border-color: #12b1e3;
			i {
				color: #12b1e3;
			}
		}
		&.error {
			background: #d4615929;
			border-color: #d46159;
			i {
				color: #d46159;
			}
		}
		&.warning {
			background: #ff98002b;
			border-color: #ff9800;
			i {
				color: #ff9800;
			}
		}
	}
	button {
		margin-left: 15px;
	}
}


/* OTHER */
.icon-group i {
	margin: 3px;
}
.MuiSnackbarContent-action {
	i {
		font-size: 19px;
		color: white;
	}
}
.hidden {display: none!important;}
.material-icons {
	color: @primary;
	&.with-hover:hover {
		color: darken(@secondary, 20%);
	}
}

/* CHART */
.chart-container {
	position: relative;
	min-height: 300px;
}
.chart-header {
	margin-bottom: 10px;
}
.chart-toolbar {
	margin-top: 5px;

}
.chart-toolbar-left {
	ul {
		margin: -3px;
		li {
			margin: 3px;
			button {
				min-width: 32px;
				text-transform: uppercase;
				&.active {
					background: darken(@secondary, 20%);
				}
			}
		}
	}
}
.chart-toolbar-right {
	i:hover {
		color: darken(@secondary, 20%);
	}
}

.w-100 {
	width: 100%;
}
.d-flex {
	display: flex;
}
.d-inline-block {
	display: inline-block;
}
.d-block {
	display: block;
}
.d-inline-flex {
	display: inline-flex;
}
.justify-content-between {
	justify-content: space-between;
}
.justify-content-around {
	justify-content: space-around;
}
.justify-content-end {
	justify-content: flex-end;
}
.justify-content-start {
	justify-content: flex-start;
}
.justify-content-center {
	justify-content: center;
}
.align-items-center {
	align-items: center;
}
.cursor-pointer {
	cursor: pointer;
}