@import "./variables.less";

.list-container {
	width: calc(100% - 52px);
}
.list-item {
	position: relative;
	.field-label {
		margin-top: 0!important;
	}
	.btn-delete {
		position: absolute;
		top: calc(50% - 10px);
		right: -40px;
	}
}

.products-container {
	width: calc(100% - 52px);
}
.product-item {
	position: relative;
	.field-label {
		margin-top: 0!important;
	}
	.btn-delete {
		position: absolute;
		top: 10px;
		right: -40px;
	}
}

.title-with-button {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 10px;
	> *:not(:first-child) {
		margin-left: 15px;
	}
}