.app {
	.btn-link::after {
		display: none;
	}
	.app-container {
		min-height: 460px!important;
	}
}

/* MENU */
.mobile-menu {
	display: flex;
	align-items: center;
	margin-left: 15px;
	h6 {
		color: white;
	}
}
.mobile-menu-items {
	position: absolute;
	top: 0;
	left: 0;
	background: white;
	z-index: 9999;
	height: 100%;

	width: 0;
	transition: width 0.3s linear;
	border-right: none;
	overflow: hidden;

	&.opened {
		display: block;
		width: 200px;
		border-right: 1px solid rgba(0, 0, 0, 0.12);
	}
	li.active {
		background: rgba(0,0,0,.08);
	}
	>div:first-child {
		justify-content: flex-end;
		margin-right: 10px;
	}
	ul {
		padding: 0;
	}
}