/* TABLE */
.table-container {
	position: relative;
	display: inline-block;
	max-width: 100%;
	width: 100%;

	.table-title {
		margin-bottom: 10px;
	}
	.table-footer {
		padding: 5px 0;
	}
	.action-panel {
		margin-left: 10px;
		button {
			margin: 3px;
		}
	}
	.page-switcher .select {
		margin-left: 10px;
		input {
			padding-right: 0;
		}
		.MuiTypography-root, input {
			font-size: 14px;
		}
	}
}
table {
	width: 100%;
	.file-item {
		.file-name {
			margin-right: 15px;
		}
	}
	.cell-measure {
		color: rgba(0, 0, 0, 0.8);
		font-size: 0.75rem;
		font-weight: normal;
	}
	.cell-text {
		line-height: 14px;
	}
	.sub-text {
		display: flex;
		font-size: 0.75em;
		color: #5bafca;
		margin-top: 3px;
	}
}
.table-footer-primary-panel {
	display: flex;
	align-items: center;
}
.row-detail {
	padding: 14px;
}

.pagination {
	>div:not(:last-child) {
		margin-right: 10px;
	}
	.page-link {
		padding: 5px;
	}
	.page-prev i {
		position: relative;
		left: -1px;
		top: -1px;
	}
	.page-next i {
		position: relative;
		left: 1px;
		top: -1px;
	}

}