.popover {
	padding: 10px;
	background: rgb(49, 49, 49);
	color: white;
	max-width: 300px;
	.popover-buttons {
		margin-top: 5px;
		display: flex;
		justify-content: flex-end;
		> *:not(:last-child) {
			margin-right: 5px;
		}
		button {
			padding: 2px 10px;
			min-width: min-content;
		}
	}
}