@success: #4caf50;
@error: #f44336;
@primary: #535c69;

.btn {
	position: relative;
	.progress {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -12px;
		margin-left: -12px;
	}
	&.btn-success {
		background: @success;
		color: white;
		&:hover {
			background: darken(@success, 10%);
		}
	}
	&.btn-error {
		background: @error;
		color: white;
		&:hover {
			background: darken(@error, 10%);
		}
	}
	&.btn-delete {
		width: 30px;
		min-width: 30px;
		padding: 0;
		background-color: #fdb2b2;
		i {
			color: #bd2626d4;
		}
		&:hover {
			background-color: darken(#fdb2b2, 4%);
		}
	}
	&.btn-contained {
		i {color: white;}
	}
	&.btn-link {
		&::after {
			transition: color 0.2s linear;
			position: absolute;
			top: calc(50% - 17px);
			right: -41px;
			font-family: 'Material Icons';
			font-weight: normal;
			line-height: 1;
			font-size: 35px;
			content: "arrow_right_alt";
			color: @primary;
			text-transform: none;
		}
	}
}