.title-with-button {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	> *:not(:first-child) {
		margin-left: 15px;
	}
}
.btn-multi {
	position: relative;
	display: inline-flex;
	.btn-link:after {
		right: -65px;
	}
	.btn-drop {
		right: 3px;
		min-width: 30px;
		padding-left: 0;
		padding-right: 0;
		&:after {
			position: absolute;
			top: 7px;
			bottom: 6px;
			left: 0;
			width: 1px;
			background-color: white;
			content: '';
		}
		i {
			color: white;
		}
	}
	.actions {
		position: absolute;
		top: 36px;
		left: 0;
		z-index: 9999;
		min-width: 100%;
		li {
			overflow: visible;
			padding-top: 5px;
			padding-bottom: 5px;
			min-height: auto;
			&:not(:last-child):after {
				content: " ";
				position: absolute;
				bottom: -1px;
				left: 8%;
				opacity: 0.3;
				height: 2px;
				width: 85%;
				background: linear-gradient(to right, rgba(30,87,153,0) 0%,rgba(59,200,245,0.5) 20%,rgba(59,200,245,1) 50%,rgba(59,200,245,0.5) 80%,rgba(125,185,232,0.25) 100%);
			}
		}
	}
}