/* FILE FIELD */
.file-items {
	margin-top: 8px;
}
.file-items + .upload-button {
	margin-top: 8px;
}
.file-item {
	display: flex;
	align-items: flex-start;
	&:not(:last-child) {
		margin-bottom: 12px;
	}
	>img {
		width: auto;
		max-width: 150px;
	}
	i {
		cursor: pointer;
	}
	.file-name {
		display: flex;
		align-items: flex-start;
		width: calc(100% - 30px);
		img {
			margin-top: -10px;
			margin-right: 7px;
			width: 35px;
		}
		div {
			margin-top: 0;
			line-height: 14px;
			width: calc(100% - 42px);
			word-break: break-all;
		}
	}
	.file-buttons {
		display: flex;
		align-items: center;
		margin-left: 5px;
		margin-top: -5px;
		> * {
			margin: 3px;
		}
	}
}
.file-item.file-tile {
	display: inline-flex;
	.file-buttons {
		flex-wrap: wrap;
		margin-top: -3px;
	}
	img {
		width: calc(88% - 15px);
		max-width: 100%;
	}
}

.upload-image {
	>button {
		width: 50px;
		height: 50px;
		min-width: 50px;
		margin-right: 20px;
	}
	p {
		line-height: 16px;
	}
	>div {
		display: flex;
		flex-direction: column;
	}
	img {
		width: 100%;
		border: 1px solid #d8d8d8;
	}
}