/* FORM */
form {
	width: 100%;
}
.form-column {
	.form-buttons-container {
		margin-top: 20px;
		padding-top: 0!important;
		.form-buttons {
			margin-top: 0;
		}
	}
}
.form-inline {
	.file-items {
		margin-top: 15px;
	}
}
.form-buttons {
	align-items: flex-end;
	display: flex;
	flex-wrap: wrap;
	margin-top: 9px;

	button:not(:last-child) {
		margin-right: 8px;
	}
}
.form-group {
	width: 100%;
	.form-group-title {
		margin-bottom: 15px;
		.asterisk {
			display: inline;
			font-size: 20px;
		}
	}
}